extends layout

block styles
    link(rel='stylesheet', href='/css/dashboard.css')
    link(rel='stylesheet', href='/css/table.css')
    script(src="/js/profile.js")
    script(src="/js/dashboard.js")

block header 
    .title-bar
        .title-bar__title
            h1 Welcome back   
                span#headerUserName 
            span#currentDateWrapper
                i.bi.bi-calendar3
                span#currentDate
        .title-bar__profile
            .profile-info
                span#UserName
                br
                span#UserEmail
            .profile-frame
                img(src='/img/logo/profile.png')

block content
    .dashboard
        .content-grid
            .left-section
                h2 What would you like to do today?
                .action-buttons
                     .button-wrapper.process-receipt
                        a.button(href='/process_receipt')
                            .button-icon
                                img(src='img/logo/icon_processreceipt.png', alt='Process Receipt')
                            .button-text Process Receipt
                     .button-wrapper.user-maintenance
                        a.button(href='/user_maintenance')
                            .button-icon
                                img(src='img/logo/icon_usermaintenance.png', alt='User Maintenance')
                            .button-text User Maintenance
                     .button-wrapper.account-maintenance
                        a.button(href='/account_maintenance')
                            .button-icon
                                img(src='img/logo/icon_accountmaintenance.png', alt='Account Maintenance')
                            .button-text Account Maintenance

            .right-section
                h2 Summary
                .summary-section
                    .summary-item
                        .summary-number 
                            span#totalReceiptsTaken 0
                        .summary-info
                            h4 Total Receipts Taken
                            a(href='/process_receipt') More
                    .summary-item
                        .summary-number
                            span#totalCashiers 0
                        .summary-info
                            h4 Total Cashiers
                            a(href='/cashiers') More
                    .summary-item
                        .summary-number
                            span#totalAccounts 0
                        .summary-info
                            h4 Total Accounts
                            a(href='account_maintenance') More
                    .summary-item
                        .summary-number
                            span#totalOutlets 0
                        .summary-info
                            h4 Total Outlets
                            a(href='/outletss') More
