extends layout

block styles
    link(rel='stylesheet', href='/css/table.css')
    script(src="/js/outlets.js")
    script(src="/js/profile.js")

block header
    .title-bar
        .title-bar__title
            h1.block-header Outlet
            span.breadcrumbs 
                a(href='/dashboard') Dashboard
                |  > 
                a(href='/account_maintenance') Account Maintenance
                |  > 
                a#outletBreadcrumb(href='#') Outlet
        .title-bar__profile
            .profile-info
                span#UserName
                br
                span#UserEmail
            .profile-frame
                img(src='/img/logo/profile.png')
block content
    .action
        .action__query
            .searchbar
                form.bar(action="")
                    i.fa.fa-search.search-icon
                    input.search(type="search")
            .create-outlet
                button#create-outlet-btn(type="button") Create Outlet
        .action__pagination
            .paginator
                span Page
                input.current-page(type="number" min="1")
                span.total-pages of 1
        .stepper
            button.prev
                i(class="fa-solid fa-chevron-left")
            button.next
                i(class="fa-solid fa-chevron-right")
    table.data-list
        thead
            tr
                th No.
                th ID
                th Name
                th Address
                th Status
                th Created At 
                th Created By
                th Cashier
        tbody
    .loading-indicator Loading...

    // Custom confirmation modal
    div#confirmationModal.modal
        div.modal-content
            p.modal-message Are you sure you want to deactivate this outlet account?
            div.modal-actions
                button#confirmBtn(type='button') Confirm
                button#cancelBtn(type='button') Cancel
