extends layout

block styles
    link(rel='stylesheet', href='/css/table.css')
    script(src="/js/user_maintenance.js")
    script(src="/js/profile.js")

block header
    .title-bar
        .title-bar__title
            h1 Process Receipt 
            span.breadcrumbs Dashboard > #{page}
        .title-bar__profile
            .profile-info
                span#UserName
                br
                span#UserEmail
            .profile-frame
                img(src='/img/logo/profile.png')
    

block content
    .action
        .action__query
            .searchbar
                form.bar(action="")
                    i.fa.fa-search.search-icon
                    input.search(type="search")
            .filter-type
                select#user_type
                    option( value="all") All
                    option( value="admin") Admin
                    option( value="cashier") Cashier
            .filter-time
                select#time
                    option( value="any_time") Any Time
                    option( value="today") Today
                    option( value="week-to-date") Week-to-date
                    option( value="month-to-date") Month-to-date
                    option( value="year-to-date") Year-to-date
                    option( value="custom-date") Custom-date
                    option( value="custom-range") Custom-range
        .action__pagination
            .paginator
                span Page
                input.current-page(type="number" min="1")
                span.total-pages of 1

        .stepper
            button.prev
                i(class="fa-solid fa-chevron-left")
            button.next
                i(class="fa-solid fa-chevron-right")

    
  
           

            