:root {
    --nav-bar-width: 250px;
}

body {
    font-family: "Poppins", sans-serif;
}

span {
    font-size: 18px;
}

.nav-bar {
    padding: 12px;
    width: calc(var(--nav-bar-width) - 10px);
    height: 100vh;
    background-color: rgb(36,41,71);
    border-radius: 30px;
    overflow: hidden;
    position: fixed;
    -webkit-transition: width .05s linear;
    transition: 0.2s box-shadow, 0.2s background;
    box-shadow: var(--box-shadow);
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-2px); /* Moves the nav-bar 2px to the left */
}

.nav-bar__logo {
    margin: 24px;
    height: 10%;
    object-fit: scale-down;
}

.nav-bar__main {
    height: 70%;
    list-style-type: none;
    margin-left: -20px; /* Moves the nav-bar__main 2px to the left */
}
.nav-bar__main li {
    margin-bottom: 8px; /* Adds space between each list item */
}

.nav-bar__footer {
    padding-bottom: 50px;
    list-style-type: none;
    margin-left: 4px;
}
.nav-bar__footer li {
    margin-bottom: 8px; /* Adds space between each list item */
}

.content {
    margin-left: calc(var(--nav-bar-width) + 45px);
}

.header {
    margin-left: calc(var(--nav-bar-width) + 45px);
    height: 100px;
}

.action {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 80px;
}
.action__query{
    width: 80%;
    align-items: center;
    display: flex;
    height: 28px;
}
.action__query * {
    margin-right: 24px;
    display: block;
}
.action__query .searchbar{
    width: 40%;
}
.search {
    width: 100%;
}

.action__pagination{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.paginator .current-page {
    width: 30px;
    height: 30px;
}

.title-bar {
    width: 100%;
    padding-top: 12px;
}

.title-bar__title {
    float: inline-start;
    margin-top: 20px;
}
.title-bar__title h1 {
    font-size: 24px;
    margin: 0;
}
.title-bar__profile {
    float: inline-end;
}

.data-list {
    width: 100%;
    padding: 12px;
}

a {
     text-decoration: none;
     color: white;
}

/* Container for icon and text */
li a {
    display: flex;
    align-items: center;
}

/* Ensure icon and text are aligned horizontally */
img.icon-with-text {
    margin-right: 8px; /* Space between icon and text */
    display: inline-block; /* Keep the icon inline */
    width: 50px; /* Set a fixed width for the icon */
    text-align: center; /* Center the icon */
    vertical-align: top; /* Align the icon to the top of the text */
}

/* Text stays aligned when it wraps */
span.nav-text {
    display: inline-block;
    white-space: normal; /* Allow text wrapping */
    text-indent: 0; /* No indentation on the first line */
    line-height: 1.2; /* Adjust line height for better readability */
}
