.hidden {
    display: none; /* Ensures the element is hidden */
}

.modal {
    display: flex; /* To make it visible when the hidden class is removed */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}
